@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><img src="~/Images/Emcon%20logo_CMYK.png" class="col-md-12" /></center>
    <center><h1>INTERNAL PROJECT MANAGEMENT</h1></center>
    <center><p class="lead">This intranet application provides functionality to the three categories mentioned below.</p></center>
    <center><p><a href="http://asp.net" class="btn btn-primary btn-large">GET STARTED >></a></p></center>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/users.png" class="col-md-8 col-md-offset-2"/>
        <center><h2>USER MANAGEMENT</h2></center>
        <p align="justify">
            The application allows full account management for employees, this function ties down
            closely with the performance management, because the application allows management to
            review employee performance.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/project.jpg" class="col-md-8 col-md-offset-2" />
        <center><h2>PROJECT TRACKING</h2></center>
        <p align="justify">
            This feature allows management to have complete access to progess stats for every 
            active project in the company at any given time. 
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/performance.png" class="col-md-8 col-md-offset-2" />
        <center><h2>COMPANY PERFORMANCE MANAGEMENT</h2></center>
        <p>
            This application allows management to review performance on company level by tracking
            the amount of completed projects towards the amount of open projects in a set time scale.
        </p>
    </div>
</div>